#wrapper{
    widht: 500px;
    height: auto;
    margin: auto;
    padding: 0;
    min-width: 1000px;
}

body {
    background-color: #ffb331;
    text-align: center;
    font-family: arial;
    color: #333333;
}

#head {
    background-color: whitesmoke;
    margin-bottom: 70px;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px grey;
}

#text {
    width: auto;
    height: 50%;
    font-size: 20px;
    background-color: whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px grey;
}

#text p {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

#head p {
    font-family: arial;
    font-size: 40px;
    padding: 10px;
    font-weight: bolder;
}

#hidden {
    width: auto;
    height: 50%;
    font-size: 20px;
    background-color: whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 6px 6px 10px grey;
}

#hidden{
    font-family: arial;
    font-size: 25px;
    padding: 3px;
    font-weight: bolder;
}

a:link {text-decoration:none; color: #666666;}
a:visited {text-decoration:none; color: #00ff99}
a:hover {text-decoration:none; color: #0000ff}
a:active {text-decoration:none; color: #ff0033}

.o{
    opacity: 0.7;
}
